.ik_select{
	font:11px/16px "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Lucida, sans-serif;
}
.ik_select_link{
	position:relative;
	height:16px;
	padding:0 22px 0 7px;
	border:1px solid #9c9c9c;
	-webkit-border-radius:4px;
	-moz-border-radius   :4px;
	border-radius        :4px;
	background:#ffffff;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyNSUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI0OSUiIHN0b3AtY29sb3I9IiNmNWY1ZjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNlY2VjZWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI3NSUiIHN0b3AtY29sb3I9IiNlY2VjZWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZWVlZWVlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background:-moz-linear-gradient(top,  #ffffff 25%, #f5f5f5 49%, #ececec 50%, #ececec 75%, #eeeeee 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(25%,#ffffff), color-stop(49%,#f5f5f5), color-stop(50%,#ececec), color-stop(75%,#ececec), color-stop(100%,#eeeeee));
	background:-webkit-linear-gradient(top,  #ffffff 25%,#f5f5f5 49%,#ececec 50%,#ececec 75%,#eeeeee 100%);
	background:-o-linear-gradient(top,  #ffffff 25%,#f5f5f5 49%,#ececec 50%,#ececec 75%,#eeeeee 100%);
	background:-ms-linear-gradient(top,  #ffffff 25%,#f5f5f5 49%,#ececec 50%,#ececec 75%,#eeeeee 100%);
	background:linear-gradient(to bottom,  #ffffff 25%,#f5f5f5 49%,#ececec 50%,#ececec 75%,#eeeeee 100%);
	-webkit-box-shadow:0 1px 0 #f0f0f0, inset 0 0 0 1px rgba(255,255,255,0.22);
	-moz-box-shadow   :0 1px 0 #f0f0f0, inset 0 0 0 1px rgba(255,255,255,0.22);
	box-shadow        :0 1px 0 #f0f0f0, inset 0 0 0 1px rgba(255,255,255,0.22);
	-webkit-transition:all 0.1 linear;
	-moz-transition   :all 0.1 linear;
	-ms-transition    :all 0.1 linear;
	-o-transition     :all 0.1 linear;
	transition        :all 0.1 linear;
}
.ik_select_link:hover{
	-webkit-box-shadow:0 0 3px rgba(0,0,0,0.5), 0 0 0 1px rgba(255,255,255,0.22) inset;
	-moz-box-shadow   :0 0 3px rgba(0,0,0,0.5), 0 0 0 1px rgba(255,255,255,0.22) inset;
	box-shadow        :0 0 3px rgba(0,0,0,0.5), 0 0 0 1px rgba(255,255,255,0.22) inset;
}
.ik_select_link.ik_select_link_focus{
	-webkit-box-shadow:0 0 5px #000, 0 0 0 1px rgba(255,255,255,0.22) inset;
	-moz-box-shadow   :0 0 5px #000, 0 0 0 1px rgba(255,255,255,0.22) inset;
	box-shadow        :0 0 5px #000, 0 0 0 1px rgba(255,255,255,0.22) inset;
}
.ik_select_link_text:after, .ik_select_link_text:before{
	content:"\25B2";
	position:absolute;
	top:50%; right:7px;
	font:6px/10px Arial, Helvetica, FreeSans, "Liberation Sans", "Nimbus Sans L", sans-serif;
	color:#434343;
}
.ik_select_link_text:after{
	margin-top:-8px;
}
.ik_select_link_text:before{
	content:"\25BC";
	margin-top:-2px;
}

.ik_select_block{
	top:-2px;
}
.ik_select_list{
	padding:4px 0;
	border:none;
	-webkit-border-radius:5px;
	-moz-border-radius   :5px;
	border-radius        :5px;
	-webkit-box-shadow:0 10px 15px rgba(0,0,0,0.32), 0 0 0 1px rgba(0,0,0,0.08);
	-moz-box-shadow   :0 10px 15px rgba(0,0,0,0.32), 0 0 0 1px rgba(0,0,0,0.08);
	box-shadow        :0 10px 15px rgba(0,0,0,0.32), 0 0 0 1px rgba(0,0,0,0.08);
	font:11px/16px "Lucida Grande";
}
.ik_select_list li{
	padding:0 21px;
}
.ik_select_optgroup_label{
	padding:0 21px;
}
.ik_select_optgroup li{
	padding-left:42px;
}
.ik_select_list li.ik_select_hover{
	background:#6288f7;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYyODhmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMjYwZjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-moz-linear-gradient(top,  #6288f7 0%, #2260f6 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#6288f7), color-stop(100%,#2260f6));
	background:-webkit-linear-gradient(top,  #6288f7 0%,#2260f6 100%);
	background:-o-linear-gradient(top,  #6288f7 0%,#2260f6 100%);
	background:-ms-linear-gradient(top,  #6288f7 0%,#2260f6 100%);
	background:linear-gradient(to bottom,  #6288f7 0%,#2260f6 100%);
	-webkit-box-shadow:0 -1px 0 rgba(0,0,0,0.1) inset, 0 1px 0 rgba(0,0,0,0.1) inset;
	-moz-box-shadow   :0 -1px 0 rgba(0,0,0,0.1) inset, 0 1px 0 rgba(0,0,0,0.1) inset;
	box-shadow        :0 -1px 0 rgba(0,0,0,0.1) inset, 0 1px 0 rgba(0,0,0,0.1) inset;
	color:#FFF;
}
.ik_select_list li.ik_select_active span:after{
	content:"\2713";
	position:absolute;
	top:0; left:5px;
}
.ik_select_link_disabled{
	box-shadow:none;
}

.ik_select_filter_wrap{
	padding:0 4px 4px;
}
.ik_select_filter{
	height:20px;
	padding:0 5px;
	border:none;
	-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.4);
	-moz-box-shadow   :inset 0 1px 3px rgba(0,0,0,0.4);
	box-shadow        :inset 0 1px 3px rgba(0,0,0,0.4);
}
.ik_select_filter:focus{
	outline:none;
}
.ik_nothing_found {
	padding:0 5px;
}
