.ik_select select{margin:0; padding:0; width:100%; opacity:0; filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0); position:absolute;}
.ik_select{width:200px; position:relative; font:11px/16px "Lucida Grande"; height:19px; display:inline-block; *display:inline; zoom:1; vertical-align:middle;}
.ik_select_link{border-radius:4px; padding:0 22px 0 7px; height:16px; overflow:hidden; border:1px solid #9c9c9c; white-space:nowrap; position:relative; cursor:default; zoom:1;
	box-shadow:0 1px 0 #f0f0f0, inset 0 0 0 1px rgba(255,255,255,0.22);
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 25%, #f5f5f5 49%, #ececec 50%, #ececec 75%, #eeeeee 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,#ffffff), color-stop(49%,#f5f5f5), color-stop(50%,#ececec), color-stop(75%,#ececec), color-stop(100%,#eeeeee));
	background: -webkit-linear-gradient(top, #ffffff 25%,#f5f5f5 49%,#ececec 50%,#ececec 75%,#eeeeee 100%);
	background: -o-linear-gradient(top, #ffffff 25%,#f5f5f5 49%,#ececec 50%,#ececec 75%,#eeeeee 100%);
	background: -ms-linear-gradient(top, #ffffff 25%,#f5f5f5 49%,#ececec 50%,#ececec 75%,#eeeeee 100%);
	background: linear-gradient(top, #ffffff 25%,#f5f5f5 49%,#ececec 50%,#ececec 75%,#eeeeee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
	transition:all linear 0.1s; -webkit-transition:all linear 0.1s; -moz-transition:all linear 0.1s;}
.ik_select_link:hover{
	box-shadow:0 0 3px rgba(0,0,0,0.5), 0 0 0 1px rgba(255,255,255,0.22) inset;
}
.ik_select_link.ik_select_focus{
	box-shadow:0 0 5px #000, 0 0 0 1px rgba(255,255,255,0.22) inset;
	*border-color:#F00;
}
.ik_select_link_text{overflow:hidden; display:block; width:100%; text-overflow:ellipsis;}
.ik_select_link_text:after, .ik_select_link_text:before{position:absolute; right:7px; content:"\25B2"; font-size:6px; color:#434343; font-family:"arial"; line-height:10px; top:50%;}
.ik_select_link_text:after{margin-top:-8px;}
.ik_select_link_text:before{content:"\25BC"; margin-top:-2px;}
.ik_select_block{position:absolute; z-index:9999; width:100%; left:0; top:-2px; display:none;}
.ik_select_block_right{left:auto;}
.ik_select_list{padding:4px 0; position:relative; font:11px/16px "Lucida Grande"; line-height:16px; background:#FFF; zoom:1; *border:1px solid #000;
	border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px;
	box-shadow:0 10px 15px rgba(0,0,0,0.32), 0 0 0 1px rgba(0,0,0,0.08); -webkit-box-shadow:0 10px 15px rgba(0,0,0,0.32), 0 0 0 1px rgba(0,0,0,0.08); -moz-box-shadow:0 10px 15px rgba(0,0,0,0.32), 0 0 0 1px rgba(0,0,0,0.08);}
.ik_select_list_inner{}
.ik_select_optgroup{}
.ik_select_optgroup_label{color:#7f8080; padding:0 21px;}
.ik_select_list ul{margin:0; padding:0;}
.ik_select_list li{list-style:none; margin:0; cursor:default; padding:0 21px; position:relative;}
.ik_select_optgroup li{padding-left:42px;}
.ik_select_list li.ik_select_hover{
	color:#FFF;
	box-shadow:0 -1px 0 rgba(0,0,0,0.1) inset, 0 1px 0 rgba(0,0,0,0.1) inset;
	background: #6288f7;
	background: -moz-linear-gradient(top, #6288f7 0%, #2260f6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6288f7), color-stop(100%,#2260f6));
	background: -webkit-linear-gradient(top, #6288f7 0%,#2260f6 100%);
	background: -o-linear-gradient(top, #6288f7 0%,#2260f6 100%);
	background: -ms-linear-gradient(top, #6288f7 0%,#2260f6 100%);
	background: linear-gradient(top, #6288f7 0%,#2260f6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6288f7', endColorstr='#2260f6',GradientType=0 );
}
.ik_select_list li.ik_select_active span:after{content:"\2713"; position:absolute; left:5px; top:0;}

.ik_select.ik_select_disabled .ik_select_link{top:0; box-shadow:none; opacity:0.5; filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);}